@font-face {
  font-display: swap;
  font-family: "Anton SC";
  font-style: normal;
  font-weight: 400;
  src: url("../font/anton-sc-v1-latin-regular.woff2") format("woff2"), url("../font/anton-sc-v1-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  src: url("../font/anton-v27-latin-regular.woff2") format("woff2"), url("../font/anton-v27-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../font/inter-v20-latin-regular.woff2") format("woff2"), url("../font/inter-v20-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../font/inter-v20-latin-500.woff2") format("woff2"), url("../font/inter-v20-latin-500.ttf") format("truetype");
}
:root {
  --colors-text-title-dark: #010314;
  --colors-text-title-blue: #bbdbfa;
  --colors-text-primary: #ffffff;
  --colors-text-body: #bbb;
  --colors-button-primary: #ffffff;
  --colors-hover: #bbdbfa;
  --colors-outline-soft: #343543;
  --bg-blue-primary: #bbdbfa;
  --bg-black-primary: #010314;
  --container-width: 1440px;
  --container-padding-x: 30px;
  --container-padding-header-x: 32px;
  --transition-duration: 0.2s;
  --header-height: 84px;
  --font-family-base: "Inter", sans-serif;
  --font-family-accent: "Anton SC", sans-serif;
  --font-family-third: "Anton", sans-serif;
  --clamp-sm: clamp(8px, 1vw, 14px);
  --clamp-base: clamp(10px ,1vw, 16px);
  --clamp-bm: clamp(10px, 1.66vw, 24px);
  --clamp-md: clamp(18px, 2vw, 30px);
  --clamp-lg: clamp(43px, 5vw, 72px);
  --clamp-xl: clamp(0.9rem, 0.225rem + 2.25vw, 2.25rem);
  --clamp-xxl: clamp(256px, 29.65vw, 427px);
  --clamp-xxxl: clamp(306px, 53.12vw, 765px);
}

.text-uppercase {
  text-transform: uppercase;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: auto;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: var(--colors-button-primary);
  -webkit-transition: var(--transition-duration) ease;
  transition: var(--transition-duration) ease;
}

a:hover {
  color: var(--colors-hover);
}

a:where([class]) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

p:not([class]):not(:last-child) {
  margin-bottom: 24px;
}

button,
label {
  cursor: pointer;
}

button {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-fill-color: currentColor;
}

:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  color: var(--colors-text-body);
  background-color: var(--bg-black-primary);
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-accent);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--colors-text-title-blue);
}

.title-medium {
  font-size: var(--clamp-lg);
}

.title-big {
  font-size: var(--clamp-xxl);
}

.title-extra-big {
  font-size: var(--clamp-xxxl);
}

.paragraph {
  font-size: var(--clamp-base);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  padding-inline: 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: transparent;
  min-height: var(--header-height);
}
.header__logo-link {
  font-family: var(--font-family-accent);
  font-weight: 400;
  font-size: var(--clamp-md);
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--colors-text-title-blue);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__unlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(24px, 2.77vw, 40px);
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(24px, 2.77vw, 40px);
}
.header__list:last-child::before {
  content: "";
  width: 0.5vw;
  aspect-ratio: 1;
  background: var(--colors-text-primary);
}
.header__list-link {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: var(--clamp-sm);
  line-height: 1.4;
  letter-spacing: 0.16em;
  white-space: nowrap;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 100vh;
  padding: 84px;
}
.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(63, 63, 63, 0.5);
  opacity: 0.5;
  z-index: 1;
}
.hero-section-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}
.hero-section-title {
  position: relative;
  margin-bottom: 94px;
  z-index: 2;
}
@media screen and (max-width: 1444px) {
  .hero-section-title {
    margin-bottom: 24px;
  }
}
.hero-section-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: clamp(40px, 5vw, 373px);
  z-index: 2;
}
@media screen and (max-width: 1444px) {
  .hero-section-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.hero-section-description {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: var(--clamp-base);
  line-height: 1.5;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  width: 424px;
}
.hero-section-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 40px;
}

.button {
  position: relative;
  padding: 10px 40px;
  background: transparent;
  border: none;
  color: var(--colors-button-primary);
  letter-spacing: 5px;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: var(--clamp-base);
}

.button::before,
.button::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: var(--clamp-bm);
}

.button::before {
  content: "[";
  left: 10px;
}

.button::after {
  content: "]";
  right: 10px;
}/*# sourceMappingURL=main.css.map */