.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

// .container-header {
//     width: 100%;
//     max-width: 1440px;
//     margin: 0 auto;
//     padding: 0 24px;
// }
