@use "../utils/breakpoints" as bp;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  padding-inline: 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: transparent;
  min-height: var(--header-height);

  &__logo-link {
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: var(--colors-text-title-blue);
    flex-shrink: 0;
    transition: color var(--transition-duration) ease;

    &:hover {
      color: var(--colors-logo-hover);
    }
    @media screen and (max-width: bp.$mobile) {
      font-size: 25px;
    }
  }

  &__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    @media screen and (max-width: bp.$mobile) {
      display: flex;
    }

    &-line {
      width: 100%;
      height: 2px;
      background: var(--colors-text-primary);
      transition: all var(--transition-duration) ease;
    }
  }

  &__nav {
    display: block;

    @media screen and (max-width: bp.$mobile) {
      display: none;
      cursor: pointer;
    }
  }

  &__unlist {
    display: flex;
    align-items: center;
    gap: clamp(24px, 2.77vw, 40px);
  }

  &__list {
    display: flex;
    align-items: center;
    gap: clamp(24px, 2.77vw, 40px);

    &:last-child::before {
      content: "";
      width: 0.5vw;
      aspect-ratio: 1;
      background: var(--colors-text-primary);
    }
  }

  &__list-link {
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.16em;
    white-space: nowrap;
  }
}
